* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

.outer-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: black;
}
}
.inner-div{
    text-align: center;
}

img{
width: 100%;
}

p{
    text-align: center;
    color: black;
    background-color: white;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 50px;
    font-style: bold;
}